*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html, body {
    height:100%;
}
.container{
    
    height:100vh;
    background-color: rgb(30, 30, 78);
    width:100vw;
    padding-top:50px;

}
.disabled{
    pointer-events: none;
    opacity:0.8;
}
.quiz {
    /* chnage 400 */
    height:400px; 
    max-width:500px;
    width:70%;
    min-width:200px;
    margin: 0 auto;
    background-color: rgb(250, 241, 230);
    border-radius:9px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.result{
    flex:1;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 4px;
}
.hr{
    padding-bottom: 8px;
}
hr{
    height: 2px;
    background-color: rgb(201, 205, 223);
    border: none;
}
.inner>h3{
    padding-bottom: 10px;
    font-family: sans-serif;
    font-size:18px;
    font-weight: 600;
}
.inner{
    
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.hidden{
    display: none;
}
.button{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.options{
    /* background-color: aqua; */
    height:100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    


}
.option{
    width: 100%;
    /* background-color: aquamarine; */
    height: 43px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8px;
    border: 1px solid rgb(146, 158, 166);
    color:rgb(99, 107, 112);
    border-radius:7px;
    font-weight: 400;
}


button {
    width:150px;
    height:32px;
    background-color: rgb(38, 38, 133);
    color:white;
    font-size: 17px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    
}
.button>p {
    color:rgb(93, 109, 122);
    font-size: 15px;
}