*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{
    height:100vh;
    width: 100vw;
}

.container{
    height: 100%;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.ball{
    width:5rem;
    height: 5rem;
    background-color: rgb(223, 188, 72);
    border-radius: 50%;
    animation: bounce 5s ease infinite;
}

@keyframes bounce{
    0%, 20%, 40%, 60%, 80%, 100%{
        transform:translateY(0px);
    }
    10%{
        transform:translateY(-300px);
        background-color: rgb(132, 223, 72);
    }
    30%{
        transform:translateY(-250px);
        background-color: rgb(72, 92, 223);
    }
    50%{
        transform:translateY(-200px);
        background-color: rgb(223, 72, 173);
    }
    70%{
        transform:translateY(-150px);
        background-color: rgb(223, 72, 82);
    }
    90%{
        transform:translateY(-100px);
        background-color: rgb(12, 255, 219);
    }

}

