*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background: linear-gradient(to bottom right, rgb(77, 68, 205), rgb(40, 30, 78));
    
}

.container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items:center;
    opacity:1;
    animation: fadeOut 1s ease forwards;
    animation-delay: 3s;
}

.ring {
    width:300px;
    height: 300px;
    border:0px solid #011015;
    position: absolute;
    border-radius: 50%;
    
}
.ring:nth-child(1){
    border-bottom-width: 8px;
    border-color:rgb(255,0,255);
    animation:rotate 2s linear infinite;
}
.ring:nth-child(2){
    border-right-width: 8px;
    border-color:rgb(0, 247, 255);
    animation:rotate1 2s linear infinite;
}

.ring:nth-child(3){
    border-top-width: 8px;
    border-color:rgb(55,255,20);
    animation:rotate2 2s linear infinite;
}
.hello{
    color: azure;
    padding: 10px;
    font-size: 28px;
    font-weight: 700;
    
}
.text{
    display: flex;
    justify-content: center;
    align-items:center;
    
    animation: blurFade 4s ease-in-out forwards;
    
}

@keyframes blurFade{
    0% {
      opacity: 0;
      filter: blur(20px);
      transform: scale(1);
    }
    30%,
    50% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }

    100% {
      opacity: 0;
      filter: blur(20px);
      transform: scale(2);
    }
}


@keyframes rotate1 {

    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate {

    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2 {

    0%{
        transform: rotateX(45deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(45deg) rotateY(55deg) rotateZ(360deg);
    }
}
@keyframes fadeOut{
    to{
        opacity:0;
        transform: scale(0.3);
        filter:blur(10px);
    }
}