*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(195, 229, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: azure;
    max-width: 400px;
    width: 60%;
    /* height: 100%; */
    border-radius: 8px;
    box-shadow: 2px 2px 20px rgb(168, 193, 200);
}
h2{
    padding:20px;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 600;
}
hr{
    height: 1px;
    background-color: rgb(219, 236, 235);
    border: none;
}
.inner{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.option{

    padding: 10px;
    display: flex;
    /* flex-direction: column; */
    width:100%;
    height: 40px;
    justify-content: space-between;
    margin:5px 0;
    border:2px solid rgb(168, 214, 216);
    border-radius: 8px;
    font-size: 17px;
    color:rgb(108, 111, 118);
    position: relative;
}
.color{
    display: flex;
    /* flex-direction: column; */
    height: 40px;
    top:-0.3px;
    left:-0.1px;
    width: 100%;
    /* flex:1; */
    justify-content: space-between;
    /* border:1px solid rgb(168, 214, 216); */
    border-radius: 8px;
    font-size: 17px;
    color:rgb(108, 111, 118);
    display: flex;
    border-radius: 8px;

    position:absolute;
    z-index: 1;
    
}

.left{
    width:80%; 
    /* chnage */

    height:96%;
    border-radius: 8px;
    background-color: rgb(173, 220, 255);
    z-index: 22;
}
#percentage, #val, .percenatge, .val{
    z-index: 100;
    /* position: relative; */
}
.option:hover{
    border: 1px solid rgb(109, 50, 163);
}